---
import Layout from "../layouts/Layout.astro";
import Character from "../components/Character.astro";
import Location from "../components/Location.astro";
---

<Layout title="Welcome to Astro.">
    <main>
        <section
            class="relative w-full aspect-video flex justify-center items-center"
        >
            <div
                class="absolute w-full aspect-video bg-[url('https://www.giantfreakinrobot.com/wp-content/uploads/2021/10/dune-review-scaled.jpg')] bg-cover bg-center"
            >
                <div
                    class="absolute h-full w-full bg-gradient-to-t from-[#F8D543] via-[#F8D543] to-[#FF6F00] mix-blend-color"
                >
                </div>
                <div
                    class="absolute h-full w-full bg-gradient-to-t from-black via-transparent to-transparent"
                >
                </div>
            </div>
            <!-- <h1 class="text-8xl text-white font-display uppercase">
                Chasing Freedom Test
            </h1> -->
        </section>
        <section class="w-full min-h-[720px] p-44 bg-black text-white">
            <p class="w-[50ch] text-xl">
                “Where justice is denied, where poverty is enforced, where
                ignorance prevails, and where any one class is made to feel that
                society is an organized conspiracy to oppress, rob and degrade
                them, neither persons nor property will be safe.”
            </p>
        </section>
        <section
            class="w-full min-h-[720px] h-full p-32 grid grid-cols-[1fr_auto] gap-16 items-center"
        >
            <div class="bg-orange-500 w-96 h-full aspect-[2/3]"></div>
            <div class="flex flex-col gap-4">
                <h1>Chasing Freedom</h1>
                <p class="grid">
                    <span><b>Rating:</b> PG-13</span>
                    <span><b>Release Date:</b> December 21, 2023</span>
                    <span><b>Genre:</b> Documentary, Historical, Interview</span
                    >
                </p>
                <p>
                    After the stories of the Revolutionary War, another
                    generation emerges in the pages of American history.
                    <br /><br />
                    “Agents of the Underground Railroad” is set after the American
                    War for Independence and before the emergence of the Rebellion
                    (Civil War). We follow the tales of eight agents who are a vital
                    part of a secret network spanning across the country. We know
                    them now as the agents of the Underground Railroad.
                </p>
                <p>
                    <b>Directed By</b>
                    Joshua Li
                    <br />
                    <b>Written By</b>
                    Joshua Li, Jocelyn Li
                </p>
            </div>
        </section>
        <section class="min-h-screen bg-black py-24 px-24 flex flex-col gap-20">
            <div class="flex flex-col gap-8">
                <h1 class="text-white">Cast & Characters</h1>
                <div class="flex gap-9">
                    <Character name={"Levi Coffin"} />
                    <Character name={"Thomas Garrett"} />
                    <Character name={"John Rankin"} />
                    <Character name={"Laura S. Haviland"} />
                    <Character name={"William Still"} />
                </div>
                <div class="flex gap-9">
                    <Character name={"Harriet Tubman"} />
                    <Character name={"Abraham Lincoln"} />
                    <Character name={"Josiah Henson"} />
                    <Character name={"John Brown"} />
                    <Character name={"Salmon Portland Chase"} />
                </div>
                <div class="flex gap-9">
                    <Character name={"Vestal Coffin"} />
                    <Character name={"William H. Seward"} />
                    <Character name={"Adam Lowry Rankin"} />
                    <Character name={"Harriet Beecher Stowe"} />
                    <Character name={"Peter Still"} />
                </div>
            </div>
            <div class="flex flex-col gap-8">
                <h1 class="text-white">Film Locations</h1>
                <Location name={"Adrian, MI"} />
                <Location name={"Auburn, NY"} />
                <Location name={"Baltimore, MDin"} />
                <div class="flex gap-9"></div>
            </div>
        </section>
        <section class="p-24">
            <h1>Production Team & Crew</h1>
        </section>
        <section class="bg-black p-24">
            <h1 class="text-white">Across America</h1>
        </section>
        <section
            class="w-full aspect-video bg-gradient-to-t from-[#EA8825] to-[#F8D543] p-40 flex items-center gap-24"
        >
            <div>
                <h1>Follow Our Journey</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br
                    />
                    Curabitur fermentum, felis et tincidunt rutrum, ligula sem tincidunt
                    mi, ac mattis diam libero quis elit. Quisque lacus odio, pellentesque
                    id fringilla id, semper non lectus.
                    <br /><br />
                    elwintechnologies@gmail.com
                </p>
            </div>
        </section>
        <footer>elwin studios</footer>
    </main>
</Layout>
