---
import Layout from "../layouts/Layout.astro";
import Character from "../components/Character.astro";
import Icon from "../components/Icon";
import Location from "../components/Location.astro";
import Profile from "../components/Profile.astro";
import Team from "../components/Team.astro";
import Instagram from "../components/Instagram";
import Hero from "../sections/Hero";
import Locations from "../components/Locations";
---

<Layout
  title="Agents of the Underground Railroad | Official Website | Spring 2024"
>
  <main class="mx-auto flex max-w-[1920px] flex-col">
    <Hero client:load />
    <section
      class="max-w-screen mx-auto flex w-full flex-col-reverse items-center justify-between gap-6 p-24 max-sm:p-12 xl:flex-row"
    >
      <div
        class="flex-4 flex flex-col items-center font-[gilroy-light] text-4xl text-white"
      >
        <span
          class="w-fit font-[gilroy-bold] text-[3.5rem] leading-[4.5rem] leading-8 max-sm:text-[2rem] max-sm:leading-[2.5rem] xl:max-2xl:text-[3rem] min-[1718px]:text-[4rem]"
        >
          But to this solemn resolution I came;<br />
          I was free, and they should be free also.<br />
        </span>
        <span
          class="mt-4 w-full bg-[linear-gradient(180deg,rgba(219,59,7,1)0%,rgba(234,136,37,1)33.33%,rgba(248,213,67,1)100%)] bg-clip-text text-right font-[gilroy-light] text-transparent"
        >
          &#8212; Harriet Tubman
        </span>
      </div>
      <div
        class="relative aspect-[3/4] min-h-[270px] flex-1 bg-[url('/Harriet.webp')] bg-contain bg-center bg-no-repeat saturate-0 max-xl:aspect-square"
      >
      </div>
    </section>
  </main>
  <section class="bg-white">
    <div
      class="mx-auto grid w-full max-w-screen-2xl gap-8 p-16 max-sm:p-6 md:grid-cols-[1fr_1fr] lg:gap-16 lg:p-24"
    >
      <div
        class="mx-auto aspect-[2/3] max-h-[1080px] w-full rounded-md bg-[url('/Teaser.webp')] bg-cover"
      >
      </div>
      <div class="my-auto flex min-w-0 flex-col gap-4">
        <h1 class="font-display">Agents of the Underground Railroad</h1>
        <p class="grid text-xs">
          <!-- <span><b>Rating:</b> PG-13</span> -->
          <span><b>Release Date:</b> Spring 2024</span>
          <span
            ><b>Genre:</b> Documentary Series, Historical, Inspirational</span
          >
        </p>
        <p class="xl:text-lg">
          After the events of the Revolutionary War, another generation of
          heroes emerged from the pages of American history.
          <br /><br /> This documentary series traces the stories of ordinary people
          who played extraordinary roles on the network we now know as the Underground
          Railroad. From William Still who aided fugitives on the run, to Abraham
          Lincoln who ended slavery for all of America; every story of these incredible
          heroes was filled with purpose, sacrifice, and accomplishment. Follow us
          on this amazing journey to experience the lives of these American heroes.
        </p>
        <div class="flex gap-4">
          <Icon
            name="youTube"
            size="32"
            href="https://www.youtube.com/@ElwinStudios"
          />
          <Icon
            name="instagram"
            size="32"
            href="https://www.instagram.com/agentsoftheundergroundrailroad/"
          />
          <Icon
            name="facebook"
            size="32"
            href="https://www.facebook.com/people/Agents-of-the-Underground-Railroad/100091754644195/"
          />
          <Icon
            name="email"
            size="32"
            href="mailto: info@agentsoftheundergroundrailroad.com"
          />
        </div>
        <p>
          <b>Directed By</b><br />
          Joshua Li
        </p>
        <p>
          <b>Written By</b><br />
          Joshua Li, Jocelyn Li
        </p>
      </div>
    </div>
  </section>
  <main class="mx-auto flex max-w-[1920px] flex-col">
    <section
      class="mx-auto flex w-full max-w-screen-2xl flex-col gap-16 p-16 max-sm:p-6 lg:p-24"
    >
      <div class="flex flex-col gap-4 lg:gap-8">
        <h2 class="font-display text-white">Agents</h2>
        <div
          class="-mx-16 flex snap-x snap-mandatory grid-cols-5 gap-4 px-16 no-scrollbar max-md:overflow-auto max-sm:-mx-6 max-sm:px-6 md:mx-0 md:grid md:px-0 lg:gap-8"
        >
          <Character name={"Levi Coffin"} img="/Levi_Coffin.webp" />
          <Character name={"Thomas Garrett"} img="/Thomas_Garrett.webp" />
          <Character name={"John Rankin"} img="/John_Rankin.webp" />
          <Character name={"William Still"} img="/William_Still.webp" />
          <Character name={"Laura S. Haviland"} img="/Laura_Haviland.webp" />
          <Character name={"Josiah Henson"} img="/Josiah_Henson.webp" />
          <Character name={"John Brown"} img="/John_Brown.webp" />
          <Character name={"Salmon P. Chase"} img="/Salmon_Chase.webp" />
          <Character name={"Harriet Tubman"} img="/Harriet_Tubman.webp" />
          <Character name={"Abraham Lincoln"} img="/Abraham_Lincoln.webp" />
          <Character name={"Fredrick Douglas"} img="/Fredrick_Douglas.webp" />
          <Character name={"Harriet B. Stowe"} img="/Harriet_Stowe.webp" />
          <Character name={"William H. Seward"} img="/William_Seward.webp" />
          <Character name={"Vestal Coffin"} />
          <Character name={"Adam Lowry Rankin"} />
          <Character name={"Peter Still"} />
        </div>
      </div>
      <div class="flex flex-col">
        <h2 class="font-display text-white">Locations</h2>
        <Locations client:idle>
          <Location id="Delaware" name={"Delaware"} img="/Delaware.webp" />
          <Location id="Georgia" name={"Georgia"} img="/Georgia.webp" />
          <Location id="Illinois" name={"Illinois"} img="/Illinois.webp" />
          <Location id="Indiana" name={"Indiana"} img="/Indiana.webp" />
          <Location id="Louisiana" name={"Louisiana"} img="/Louisiana.webp" />
          <Location id="Maryland" name={"Maryland"} img="/Maryland.webp" />
          <Location
            id="Massachusetts"
            name={"Massachusetts"}
            img="/Massachusetts.webp"
          />
          <Location id="Michigan" name={"Michigan"} img="/Michigan.webp" />
          <Location id="Missouri" name={"Missouri"} img="/Missouri.webp" />
          <Location
            id="NewHampshire"
            name={"New Hampshire"}
            img="/New_Hampshire.webp"
          />
          <Location
            id="North Carolina"
            name={"North Carolina"}
            img="/North_Carolina.webp"
          />
          <Location id="Ohio" name={"Ohio"} img="/Ohio.webp" />
          <Location id="Ontario" name={"Ontario"} img="/Ontario.webp" />
          <Location
            id="Pennsylvania"
            name={"Pennsylvania"}
            img="/Pennsylvania.webp"
          />
          <Location id="Texas" name={"Texas"} img="/Texas.webp" />
          <Location id="WashingtonDC" name={"Washington, DC"} img="/DC.webp" />
          <Location
            id="WestVirginia"
            name={"West Virginia"}
            img="/West_Virginia.webp"
          />
        </Locations>
      </div>
    </section>
  </main>
  <section class="bg-white">
    <div
      class="mx-auto flex w-full max-w-screen-2xl flex-col gap-8 bg-white p-16 max-sm:p-6 lg:p-24"
    >
      <h2 class="font-display">Meet Our Team</h2>
      <p class="-mt-4 max-w-[75ch] xl:text-lg">
        At Elwin Studios, we create educational content that is fun, factual,
        and inspiring. We are a team so tight, it’s like we're family…wait, we
        are! We share the same passion for freedom. Each of us bring different
        talents and skills to the project. Together, we are making a
        never-seen-before documentary series on the heroes and heroines of the
        Underground Railroad.
      </p>
      <fieldset class="grid grid-cols-6 gap-x-8 gap-y-12">
        <Team
          id="jessica"
          title="Production Coordinator | Researcher"
          name="Jessica Li"
        />
        <Team id="joshua" title="Director | Cinemetographer" name="Joshua Li" />
        <Team id="jocelyn" title="Writer | Researcher" name="Jocelyn Li" />
        <Team id="joseph" title="Media | Marketing" name="Joseph Li" />
        <Team id="john" title="Production Crew" name="John Li" />
        <Team id="jeremy" title="PR | Broadcasting" name="Jeremy Li" />
        <Profile
          bio="Jessica battled and won over childhood leukemia. She recently graduated from bible college with an undergraduate degree. She is intellectual, gifted in language and super organized. She possesses an incredible memory. She helps with the researching effort on the Underground Railroad. She is leading the research for our next topic: the Civil War. She has a big heart to help people. In her quiet way, she develops deep relationships with her friends and her students from youth groups."
          id="jessica"
          title="Production Coordinator | Researcher"
          img="/jessica.webp"
          name="Jessica Li"
        />
        <Profile
          bio="Joshua is mechanically gifted. He obtained formal training in auto-mechanics. But his true passion and gift lies in his ability to tell stories through film. After a year of working as a mechanic, he turned to developing that passion. He took on a year-long journey with Vancouver Film School. Through the year of training, his talent is well recognized by his teachers and peers. Joshua is also gifted in business. Outside of filming, he is a Chief Scout (Eagle Scout), an avid hiker, and outdoorsman."
          id="joshua"
          title="Director | Cinemetographer"
          img="/joshua.webp"
          name="Joshua Li"
        />
        <Profile
          bio="Jocelyn is a super relator. She is gifted in language and the ability to consume large amounts of material in a relatively short time. She is passionate about stories and American history. Two years ago, she started researching and writing on the Underground Railroad. During this time, she has read over 50 books on the topic. She wrote the first drafts of two Underground Railroad historical novels. Her extensive research and notes can be compiled into an excellent textbook. She is learning Spanish in her past time."
          id="jocelyn"
          title="Writer | Researcher"
          img="/jocelyn.webp"
          name="Jocelyn Li"
        />
        <Profile
          bio="Joseph is gifted with an artistic eye and has been drawn to colors and visual arts since he was very young. He completed a diploma in digital design and development. He developed a small video game for a competition and gained great experience and feedback. He is methodical and thoughtful. He enjoys helping with various creative and technical tasks: website-development, youtube, marketing, logo design and branding, computer upgrade, etc. He has great ambition to be great in all that he does."
          id="joseph"
          title="Media | Marketing"
          img="/joseph.webp"
          name="Joseph Li"
        />
        <Profile
          bio="John is a super helper. He overcame a year-long battle over a fungal infection and a blood disease that almost took his life when he was only eight. Along with his competitive nature, he tirelessly analyzes any board games he plays to figure out the best path to win. He will play the important supportive role as production crew. John is an avid archer. His dream is to represent the USA in the Olympic archery competition."
          id="john"
          title="Production Crew"
          img="/john.webp"
          name="John Li"
        />
        <Profile
          bio="Jeremy is finishing his first year in Journalism School. He is gifted in language and has a bright mind. His passion is to communicate and bring the truth to light. He has a heart for protecting freedom in America. Even though he is the youngest, he often is the one to speak up for what is right. He is the face of the Elwin Studios YouTube Channel and will be the voice and interviewer for the documentary. In preparation for a future project, he will take part in the research of the American Constitution."
          id="jeremy"
          title="Public Relations | Broadcasting"
          img="/jeremy.webp"
          name="Jeremy Li"
        />
      </fieldset>
    </div>
  </section>
  <section
    class="mx-auto flex w-full max-w-screen-2xl items-center gap-6 p-16 max-md:flex-col-reverse max-md:gap-10 max-sm:p-6 lg:p-24"
  >
    <div class="flex min-w-[144px] max-w-[75ch] flex-col gap-6">
      <div>
        <h2 class="font-display text-white">About Our Trip</h2>
        <p class="font-[gilroy-regular] text-2xl text-white">
          June - August 2023
        </p>
      </div>
      <p class="text-white xl:text-lg">
        We’re taking our curiosity across America, following the lives of
        Underground Railroad Operators. The places they lived. The people they
        met. The reasons for their burning desire to act on their convictions.
        We will walk where they walked, eat where they ate, and talk to the
        modern experts of these: The Agents of the Underground Railroad. <br
        /><br />Check out the Elwin Studios Youtube channel below where we’ll be
        posting the behind-the-scenes footage of our tour.
      </p>
    </div>
    <div class="scale-1 mx-auto hidden flex-col items-center lg:flex">
      <Icon
        name="pin"
        size="400"
        style="fill-[#DB3B07]"
        className="-mb-48 z-10"
      />
      <Icon name="map" size="300" style="fill-white rotate-[30deg]" />
    </div>
    <div class="scale-1 mx-auto flex flex-col items-center lg:hidden">
      <Icon
        name="pin"
        size="200"
        style="fill-[#DB3B07]"
        className="-mb-[6rem] z-10"
      />
      <Icon name="map" size="150" style="fill-white rotate-[30deg]" />
    </div>
  </section>
  <section class="bg-gradient-to-t from-[#EA8825] to-[#F8D543]">
    <div
      class="flex max-lg:flex-col aspect-video items-center justify-center gap-8 p-16 max-md:flex-col lg:gap-16 lg:p-24 max-w-screen-2xl mx-auto"
    >
      <div class="flex max-w-[65ch] flex-col gap-4">
        <h2 class="font-display">Join Us on Social Media!</h2>
        <p class="text-xl">
          Follow us on YouTube, Instagram, and Facebook for special updates on
          the making of Agents of the Underground Railroad.
          <br /><br />
          <a
            class="text-xl"
            href="mailto: info@agentsoftheundergroundrailroad.com"
          >
            info@agentsoftheundergroundrailroad.com
          </a>
          <div class="flex gap-6">
            <Icon
              name="youTube"
              size="64"
              href="https://www.youtube.com/@ElwinStudios"
            />
            <Icon
              name="instagram"
              size="64"
              href="https://www.instagram.com/agentsoftheundergroundrailroad/"
            />
            <Icon
              name="facebook"
              size="64"
              href="https://www.facebook.com/people/Agents-of-the-Underground-Railroad/100091754644195/"
            />
            <Icon
              name="email"
              size="64"
              href="mailto: info@agentsoftheundergroundrailroad.com"
            />
          </div>
        </p>
      </div>
      <Instagram client:idle token={import.meta.env.INSTAGRAM_TOKEN} />
    </div>
  </section>
  <footer class="flex justify-center bg-white p-8">
    <a
      class="flex font-display text-2xl font-bold"
      href="https://www.youtube.com/@ElwinStudios"
      target="_blank"
    >
      <h2 class="font-[gilroy-heavy]">elwin</h2>&nbsp;
      <h2 class="font-[gilroy-regular]">studios</h2>&nbsp;
      <Icon name="youTube" size="40" style="fill-[#DB3B07]" />
    </a>
  </footer>
</Layout>
