---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
    <main>
        <section
            class="w-full min-h-[720px] bg-gradient-to-t from-black flex justify-center items-center"
        >
            <h1 class="text-8xl text-white font-display uppercase">
                Chasing Freedom
            </h1>
        </section>
        <section class="w-full min-h-[720px] p-44 bg-black text-white">
            <p class="w-[50ch] text-xl">
                “Where justice is denied, where poverty is enforced, where
                ignorance prevails, and where any one class is made to feel that
                society is an organized conspiracy to oppress, rob and degrade
                them, neither persons nor property will be safe.”
            </p>
        </section>
        <section
            class="w-full min-h-[720px] h-full p-32 grid grid-cols-[1fr_auto] gap-16 items-center"
        >
            <div class="bg-amber-600 w-96 h-full aspect-[2/3]"></div>
            <div class="flex flex-col gap-4">
                <h1>Chasing Freedom</h1>
                <p class="grid">
                    <span><b>Rating:</b> PG-13</span>
                    <span><b>Release Date:</b> December 21, 2023</span>
                    <span><b>Genre:</b> Documentary, Historical, Interview</span
                    >
                </p>
                <p>
                    After the stories of the Revolutionary War, another
                    generation emerges in the pages of American history.
                    <br /><br />
                    “Agents of the Underground Railroad” is set after the American
                    War for Independence and before the emergence of the Rebellion
                    (Civil War). We follow the tales of eight agents who are a vital
                    part of a secret network spanning across the country. We know
                    them now as the agents of the Underground Railroad.
                </p>
                <p>
                    <b>Directed By</b>
                    Joshua Li
                    <br />
                    <b>Written By</b>
                    Joshua Li, Jocelyn Li
                </p>
            </div>
        </section>
        <section>
            <h1>Cast & Characters</h1>
        </section>
        <section>
            <h1>Production Team & Crew</h1>
        </section>
        <section>
            <h1>Across America</h1>
        </section>
        <section>
            <h1>Follow Our Journey</h1>
        </section>
        <footer>elwin studios</footer>
    </main>
</Layout>
