---
import Icon from "./Icon.astro";

export interface Props {
    id: string;
    style?: string;
}
const { id, style } = Astro.props;
---

<slot />
<div class="hidden md:flex flex-col gap-8">
    <input id={id} type="checkbox" class="peer hidden" />
    <div
        class={"flex md:flex-col lg:gap-8 gap-4 h-auto lg:max-h-0 peer-checked:max-h-[2000px] overflow-hidden transition-[max-height] duration-1000 ease-in-out " +
            style}
    >
        <slot />
    </div>
    <label
        for={id}
        class="lg:flex hidden justify-center items-center self-center -m-12 peer-checked:-m-4 transition-[margin,transform] duration-1000 ease-in-out rotate-90 peer-checked:-rotate-[90deg]"
    >
        <Icon name="arrow" size="48" style="fill-white cursor-pointer " />
    </label>
</div>
