---
export interface Props {
    bio: string;
    id: string;
    img: string;
    name: string;
    title: string;
}

const { bio, id, img, name, title } = Astro.props;

const output = {
    jessica: "peer-checked/jessica:block",
    joshua: "peer-checked/joshua:block",
    jocelyn: "peer-checked/jocelyn:block",
    joseph: "peer-checked/joseph:block",
    john: "peer-checked/john:block",
    jeremy: "peer-checked/jeremy:block",
};
---

<div
    class={"rounded-[16px] py-10 lg:px-20 p-10 drop-shadow-2xl bg-white lg:hidden block col-span-6 scale-100 hover:scale-105 transition-all duration-500 " +
        output[id]}
>
    <div class="flex gap-8 items-start max-md:flex-col">
        <div
            class="max-w-xs min-w-[96px] aspect-square rounded-full overflow-hidden flex-2"
        >
            <img class="w-full" src={img} alt="" />
        </div>
        <div class="flex-1 flex flex-col gap-3 sm:min-w-[47ch]">
            <div>
                <h5 class="font-display">{name}</h5>
                <h6 class="text-semibold font-[gilroy-light]">{title}</h6>
            </div>
            <p class="text-semibold">{bio}</p>
        </div>
    </div>
</div>
