---
export interface Props {
    id: string;
    img?: string;
    name: string;
    title: string;
}

const { id, img, name, title } = Astro.props;

const input = {
    jessica: "peer/jessica",
    joshua: "peer/joshua",
    jocelyn: "peer/jocelyn",
    joseph: "peer/joseph",
    john: "peer/john",
    jeremy: "peer/jeremy",
};

// const output = {
//     jessica: "peer-checked/jessica:bg-gradient-to-tr ",
//     joshua: "peer-checked/joshua:bg-gradient-to-tr ",
//     jocelyn: "peer-checked/jocelyn:bg-gradient-to-tr ",
//     joseph: "peer-checked/joseph:bg-gradient-to-tr ",
//     john: "peer-checked/john:bg-gradient-to-tr ",
//     jeremy: "peer-checked/jeremy:bg-gradient-to-tr ",
// };

// <div
//         class="min-w-32 aspect-square rounded-full cursor-pointer scale-100 hover:scale-105 transition-all duration-500 p-1 bg-gradient-to-tr from-[#F8D543] to-[#EA8825]"
//     >
//         <div
//             class="bg-neutral-500 aspect-square rounded-full h-full w-full border-4 border-white"
//         >
//         </div>
//     </div>
---

<input
    id={id}
    type="radio"
    class={"hidden " + input[id]}
    name="team"
    checked={id === "jessica" ? "checked" : null}
/>
<label
    for={id}
    class="lg:flex hidden flex-col justify-start gap-2 flex-1 col-span-1"
>
    <div
        class="bg-neutral-500 min-w-32 aspect-square rounded-full cursor-pointer scale-100 hover:scale-105 transition-all duration-500"
    >
    </div>
    <div>
        <p class="text-center font-semibold">{name}</p>
        <p class="text-center">{title}</p>
    </div>
</label>
